body {
  background-color: blanchedalmond;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  text-align: center;
}
a {
  color: blueviolet;
}
p {
  text-align: center;
  line-height: 1.5;
}
